<div id="splash">
  <div id="splash_logo">
    <div class="fadeUp" style="font-family: cursive; font-size: 50px;">Welcome to</div>
    <div class="fadeUp" style="font-family: cursive; font-size: 50px;">NaganoCake</div>
    <div class="fadeUp" style="font-family: cursive; font-size: 50px;">Click !</div>
  </div>
</div>
<script>
  $(window).on('click',function(){
    $("#splash").delay(500).fadeOut('slow');
    $("#splash_logo").delay(300).fadeOut('slow');
  });
</script>
<div class="container">
  <div class="row">
    <div class="col-2 mt-5">
      <div class="list-group">
        <sapn class="list-group-item">ジャンル検索</sapn>
        <% @genres.each do |genre| %>
          <div class="list-group-item">
            <%= link_to  genre.name %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="offset-1 col-7 mt-5">
      <div id="theTarget">
        <div style="position: relative">
          <%= image_tag "cake3.jpeg" , size: "600x400"%>
        </div>
        <div style="opacity: 0.5; font-family: cursive;  font-size: 20px; color: black; position: absolute; top: 150px; left: 40px;">ようこそ、NaganoCakeへ!<br>
          このサイトは、ケーキ販売のECサイトになります。<br>
          会員でない方も商品の閲覧はできますが、<br>
          購入には、会員登録が必要になります。
        </div>
      </div>
      <h3 class="mt-3">新着商品</h3>
    </div>
  </div>
  <div class="h5 text-right">
    <%= link_to "全ての商品を見る>", public_items_path,class:"link" %>
  </div>
</div>