// Place all the styles related to the admin/orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pagination>li>a {
  border: none;
  color: #696969;
}

.pagination>.active>a {
  background: #FFBBFF;
  border-radius: 15px;
}

.pagination>li>a:hover {
  border-radius: 15px;
}

.border-ridge {
  border: 10px ridge #DDDDDD;
}